<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="appariels">appariels</a></li>
        <li routerLinkActive="active"><a routerLink="edit">Nouvel appariel</a></li>
        <li routerLinkActive="active"><a routerLink="users">Utilisateur</a></li>
    </ul>
  </div>
  <div class="navbar-right">Vous ete connecte depuis {{ secondes }} secondes </div>
</nav>
<div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
</div>


