<div class="col-xs-12">
  <h2>Mes Appariels</h2>

  <p>Mise a jour: {{ lastUpdate | async| date: 'dd/MM/yyyy' }}</p>

  <ul class="list-group">
    <app-appariel *ngFor="let appariel of appariels; let i = index"
                  [indexOfAppariel]="i"
                  [apparielName]="appariel.name"
                  [statusAppariel]="appariel.status"
                  [id]="appariel.id">
    </app-appariel>
  </ul>
  <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>&nbsp;
  <button class="btn btn-danger"  (click)="onEtiendre()">Tout etiendre</button>&nbsp;
  <button class="btn btn-primary"  (click)="onSave()">Enregistre</button>&nbsp;
  <button class="btn btn-primary"  (click)="onFecth()">Charger</button>&nbsp;
</div>
